<html><head></head>

<body style="background: #1e1e1e;">








    <title>Ofertas</title>

    <meta charset="utf-8">


    <ul>




        <ul class="product-container" style="list-style: none;display: flex;justify-content: center;align-content: center;color: white;font-family: sans;">

            <li class="header-img" style="border-radius: 40px;">
                <img style="width: 300px;/*! height: 200px; */border-radius: 1rem;" src="https://m.media-amazon.com/images/I/91jLIfnfDnL._AC_UL320_.jpg">
            </li>
            <ul class="body" style="padding: 20px;font-size: 14pt;display: flex;flex-direction: column;margin: 0;list-style: none;">

                <li class="header-title" style="padding: 20px;">
                    <h2>Slinky The Original Brand Metal </h2>
                </li>
                <li class="body-url">
                    <a href="https://www.amazon.com.mx/Original-Slinky-Brand-Metal/dp/B00000IZKX/ref=sr_1_338?qid=1644847751&amp;refinements=p_n_deal_type%3A23565478011&amp;rnid=23565476011&amp;s=toys&amp;sr=1-338" style="text-decoration: none;color: navajowhite;/*! padding: 20px; */">enlace a Slinky The
                        Original
                        Brand Metal </a>
                </li>
                <li class="body-price">Precio Actual: 49.00$</li>
                <li class="body-price">Precio Original: 149.00$</li>
                <li class="body-discount">Descuento: -87%</li>
            </ul>
        </ul>









    </ul>




</body></html>